<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Paketierungsprozess Ihres Webprojekts verwendet. Sie können das Verhalten dieses Prozesses anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Weitere Informationen hierzu finden Sie unter https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.22.9/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://192.168.22.9/</MSDeployServiceURL>
    <DeployIisAppPath>Kundt Autoverleih</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="it22AutoverleihEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql1;Initial Catalog=it22Autoverleih;Persist Security Info=True;User ID=it22;Password=123user!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="kundt_front_end.Models.it22AutoverleihEntities, kundt-front-end" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="it22AutoverleihEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.it22AutoverleihModel.csdl|res://*/Models.it22AutoverleihModel.ssdl|res://*/Models.it22AutoverleihModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql1;Initial Catalog=it22Autoverleih;Persist Security Info=True;User ID=it22;Password=123user!"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="it22AutoverleihEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.it22AutoverleihModel.csdl|res://*/Models.it22AutoverleihModel.ssdl|res://*/Models.it22AutoverleihModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.188.2;Initial Catalog=it22Autoverleih;Persist Security Info=True;User ID=it22;Password=123user!"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="it22AutoverleihEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.it22AutoverleihModel.csdl|res://*/Models.it22AutoverleihModel.ssdl|res://*/Models.it22AutoverleihModel.msl;provider=System.Data.SqlClient;provider connection string="data source=192.168.188.2;initial catalog=it22Autoverleih;persist security info=True;user id=it22;password=123user!;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="it22AutoverleihEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.it22AutoverleihModel.csdl|res://*/Models.it22AutoverleihModel.ssdl|res://*/Models.it22AutoverleihModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.188.2;Initial Catalog=it22Autoverleih;Persist Security Info=True;User ID=it22;Password=123user!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="it22AutoverleihEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.it22AutoverleihModel.csdl|res://*/Models.it22AutoverleihModel.ssdl|res://*/Models.it22AutoverleihModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.188.2;Initial Catalog=it22Autoverleih;Persist Security Info=True;User ID=it22;Password=123user!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="it22AutoverleihEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.it22AutoverleihModel.csdl|res://*/Models.it22AutoverleihModel.ssdl|res://*/Models.it22AutoverleihModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.188.2;Initial Catalog=it22Autoverleih;Persist Security Info=True;User ID=it22;Password=123user!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="it22AutoverleihEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.it22AutoverleihModel.csdl|res://*/Models.it22AutoverleihModel.ssdl|res://*/Models.it22AutoverleihModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.188.2;Initial Catalog=it22Autoverleih;Persist Security Info=True;User ID=it22;Password=123user!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="it22AutoverleihEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.it22AutoverleihModel.csdl|res://*/Models.it22AutoverleihModel.ssdl|res://*/Models.it22AutoverleihModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.188.2;Initial Catalog=it22Autoverleih;Persist Security Info=True;User ID=it22;Password=123user!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="it22AutoverleihEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.it22AutoverleihModel.csdl|res://*/Models.it22AutoverleihModel.ssdl|res://*/Models.it22AutoverleihModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.188.2;Initial Catalog=it22Autoverleih;Persist Security Info=True;User ID=it22;Password=123user!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="it22AutoverleihEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.it22AutoverleihModel.csdl|res://*/Models.it22AutoverleihModel.ssdl|res://*/Models.it22AutoverleihModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.188.2;Initial Catalog=it22Autoverleih;Persist Security Info=True;User ID=it22;Password=123user!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="it22AutoverleihEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.it22AutoverleihModel.csdl|res://*/Models.it22AutoverleihModel.ssdl|res://*/Models.it22AutoverleihModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.188.2;Initial Catalog=it22Autoverleih;Persist Security Info=True;User ID=it22;Password=123user!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>