.vs/config/applicationhost.config
.vs/kundt-front-end/v14/.suo
kundt-front-end/bin/kundt-front-end.dll
kundt-front-end/bin/kundt-front-end.pdb
kundt-front-end/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
kundt-front-end/obj/Debug/kundt-front-end.csproj.FileListAbsolute.txt
kundt-front-end/obj/Debug/kundt-front-end.csprojResolveAssemblyReference.cache
kundt-front-end/obj/Debug/kundt-front-end.dll
kundt-front-end/obj/Debug/kundt-front-end.pdb
.vs/config/applicationhost.config