
@{
    ViewBag.Title = "Registrierung";
}

<div class="row">
    <div class="col-md-5">
        <form action="@Url.Action("Registrierung", "Login")" method="post">
            <table class="table-condensed" style="margin-top:30px">
                <tr>
                    <td>Email:</td>
                    <td><input type="text" id="email" name="email" placeholder="example@kundt.at" onkeyup="ValidateEmail(), ValidateInput()" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" id="password" name="password" placeholder="⋅⋅⋅⋅⋅⋅⋅⋅⋅" onkeyup="PasswordCheck(), ValidateInput()" /></td>
                </tr>
                <tr>
                    <td>Passwort bestätigen:</td>
                    <td><input type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="⋅⋅⋅⋅⋅⋅⋅⋅⋅" onkeyup="PasswordConfirmationCheck(), ValidateInput()" /></td>
                </tr>
                @if (ViewBag.registerResult == -1)
                {
                    <tr>
                        <td colspan="2"><p class="text-danger">Es existiert bereits ein Account mit dieser Email!</p></td>
                    </tr>
                }
                <tr>
                    <td><input id="submit" name="submit" type="submit" @*disabled*@ /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
