
.sharkesh-Icon-black {
	background-image: url('png/black.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-black-1 {
	background-image: url('png/black-1.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-car {
	background-image: url('png/car.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-car-1 {
	background-image: url('png/car-1.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-car-2 {
	background-image: url('png/car-2.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-car-3 {
	background-image: url('png/car-3.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-car-4 {
	background-image: url('png/car-4.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-car-5 {
	background-image: url('png/car-5.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-car-6 {
	background-image: url('png/car-6.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-car-7 {
	background-image: url('png/car-7.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-car-8 {
	background-image: url('png/car-8.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-car-9 {
	background-image: url('png/car-9.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-car-door {
	background-image: url('png/car-door.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-car-insurance {
	background-image: url('png/car-insurance.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-circle {
	background-image: url('png/circle.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-contract {
	background-image: url('png/contract.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-contract-coverage {
	background-image: url('png/contract-coverage.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-danger {
	background-image: url('png/danger.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-danger-1 {
	background-image: url('png/danger-1.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-doors {
	background-image: url('png/doors.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-house-contract {
	background-image: url('png/house-contract.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-money {
	background-image: url('png/money.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-rent {
	background-image: url('png/rent.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-rent-a-car {
	background-image: url('png/rent-a-car.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-rent-a-car-1 {
	background-image: url('png/rent-a-car-1.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-repair {
	background-image: url('png/repair.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-sign {
	background-image: url('png/sign.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-signs {
	background-image: url('png/signs.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-tool {
	background-image: url('png/tool.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-tool-1 {
	background-image: url('png/tool-1.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport {
	background-image: url('png/transport.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-1 {
	background-image: url('png/transport-1.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-2 {
	background-image: url('png/transport-2.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-3 {
	background-image: url('png/transport-3.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-4 {
	background-image: url('png/transport-4.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-5 {
	background-image: url('png/transport-5.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-6 {
	background-image: url('png/transport-6.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-7 {
	background-image: url('png/transport-7.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-8 {
	background-image: url('png/transport-8.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-9 {
	background-image: url('png/transport-9.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-10 {
	background-image: url('png/transport-10.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-11 {
	background-image: url('png/transport-11.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-12 {
	background-image: url('png/transport-12.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-13 {
	background-image: url('png/transport-13.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-14 {
	background-image: url('png/transport-14.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-transport-15 {
	background-image: url('png/transport-15.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-vehicle {
	background-image: url('png/vehicle.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-vehicle-1 {
	background-image: url('png/vehicle-1.png');
	background-repeat: no-repeat;
}

.sharkesh-Icon-vehicle-2 {
	background-image: url('png/vehicle-2.png');
	background-repeat: no-repeat;
}