
@{
    ViewBag.Title = "Impressum";
}


<div class="container agb">
    <h1>Impressum</h1>
    <p>
        <h4>Kundt GmbH</h4>
        Simmeringer Hauptstraße 47-49<br />
        1110 Wien<br />
        Austria<br />
        <br />
        Telefon: +43 664 25 70 869<br />
        Email: <a href="mailto:office@sharkesh.com">office@kundt.com</a><br />
        Web: <a href="www.kundt.com">www.kundt.com</a><br />

        UID Nr.:ATU20161107<br />
        Firmenbuchnummer: 515364b<br />
        Firmenbuchgericht: Handelsgericht Wien<br />
        <h4>Bankverbindung</h4>
        Bank Austria-Wien <br />
        IBAN: AT53 1200 0110 4123 1936<br />
        BIC: BKAUATWW<br />
        <h4>Grundlegende Richtung des Unternehmens und der Website</h4>
        IT Dienstleistungsunternehmen<br />
        Informationen über selbst entwickelte und vertriebene Produkte im Bereich IT – Vertrieb und Verkauf von IT Produkten namhafter Hersteller.
    </p>
</div>
