
@{
    ViewBag.Title = "Step6";
}
<style>
    .paddingSmallStep6 {
        padding-top: 20px;
    }
</style>
<div class="container" style="margin-top: 20px;">
    <div class="paddingSmallStep4">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width:100%;background-color:#008ad0" aria-valuenow="20" aria-valuemin="0" aria-valuemax="50"></div>
        </div>
    </div>

    <h2>Step6</h2>

</div>