@model kundt_front_end.Models.ModelStepClass
@{
    ViewBag.Title = "Kundt Autoverleih Abschluss";
}
<style>
    .paddingSmallStep6 {
        padding-top: 20px;
    }

    /* Progress-Bar */
    /*ProgressBar als Zähler*/
    .miniButton {
        color: white;
        height: 35px;
        width: 35px;
        background-color: #f99b1c;
        border-radius: 35px;
        font-size: 18px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .miniButtonOp {
        color: white;
        height: 35px;
        width: 35px;
        background-color: #f99b1c;
        border-radius: 35px;
        font-size: 18px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
        opacity: 0.3;
    }

    .myButton {
        color: white;
        height: 45px;
        width: 45px;
        background-color: #f99b1c;
        border-radius: 45px;
        font-size: 25px;
        border-style: none;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .myButtonOp {
        color: white;
        height: 45px;
        width: 45px;
        background-color: #f99b1c;
        border-radius: 45px;
        font-size: 25px;
        border-style: none;
        opacity: 0.3;
        border-left: solid 1px;
        border-bottom: solid 1px;
        border-left-color: antiquewhite;
        border-bottom-color: antiquewhite;
        margin: auto 0% auto 1%;
    }

    .myButton:active {
        height: 42px;
        width: 42px;
        border-radius: 42px;
        font-size: 22px;
        animation-name: anima01;
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
        margin: 2% 0% auto 1%;
    }



    .myButtonOp:focus, .myButton:focus, .miniButton:focus, .miniButtonOp:focus {
        outline: none;
    }

    .noCurs {
        cursor: default;
    }

    .opacity {
        opacity: 1.0;
    }

    @@keyframes anima01 {
        0% {
            background-color: #f99b1c;
        }

        25% {
            background-color: orange;
            transform: rotate(90deg);
        }

        50% {
            background-color: #f99b1c;
            transform: rotate(180deg);
        }

        75% {
            background-color: orange;
            transform: scale(30,50);
        }

        100% {
            background-color: #f99b1c;
            transform: scale(130,150);
        }
    }

    @@keyframes anima02 {
        from {
            width: 80%;
        }

        to {
            width: 100%;
        }
    }

    /*@@keyframes anima03 {
        0% {

            transform:rotate(0deg)

        }



        100% {
            transform:rotate(359deg)
        }
    }

    .testAnima {
        animation-name: anima03;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function:linear;
        animation-delay:3s;
    }*/

    .abschlussGebucht {
        font-size: 70px;
        background-color: none;
        color: #f99b1c;
        animation-name: anima03;
        animation-duration: 2.6s;
        animation-iteration-count: 1;
        margin: auto;
        display: inline-block;
        /*line-height: 45px;*/
        top: 120px;
        right: 5%;
        position: absolute;
        animation-timing-function: ease-in;
    }

    @@keyframes anima03 {
        0% {
            color: none;
            font-size: 0px;
        }

        69% {
            color: none;
            font-size: 0px;
        }

        70% {
            color: white;
            font-size: 500px;
            transform: rotate(360deg);
            top: 60px;
            right: 3%;
        }

        100% {
            color: #f99b1c;
            transform: rotate(0deg);
            font-size: 70px;
            top: 120px;
            right: 5%;
        }
    }


    .myBorder {
        /*border-color: #f99b1c;*/
        padding: 15px 10px 5px 10px;
    }

    .myBar01 {
        height: 6px;
        margin-top: 18px;
        background-color: #f99b1c;
        animation-name: anima02;
        animation-duration: 3s;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .containerBar {
        width: 35%;
        margin-left: 0px;
        border-left: solid 3px;
        border-left-color: #f99b1c;
        padding-left: 0px;
        height: 43px;
        border-radius: 1px;
        margin-left: 10px;
    }

    /* CSS Progress-Bar Ende */
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
  $( function() {
    $( "#dialog-message" ).dialog({
      modal: true,
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
  } );
</script>
<div class="container" style="margin-top: 20px">
    @*Progress Bar*@
    <div class="myBorder hidden-xs" style="text-align:center">
        <div class="col-sm-2 col-sm-offset-1">
            <button class="myButtonOp opacity noCurs">1</button>
            <h5>Fahrzeug wählen</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp opacity noCurs">2</button>
            <h5>Detailansicht</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButton">3</button>
            <h5>Anmeldung</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp opacity noCurs">4</button>
            <h5>Buchung</h5>
        </div>
        <div class="col-sm-2">
            <button class="myButtonOp opacity noCurs">5</button>
            <h5>Abschluss</h5>
        </div>

        <div class="row">
            <div class="container-fluid containerBar" style="width:84%; margin-left:5px">
                <div class="myBar01"></div>
            </div>
        </div>
    </div>
    <div class="myBorder hidden-sm hidden-md hidden-lg hidden-xl" style="text-align:center">
        <div class="col-xs-2 col-xs-offset-1">
            <button class="miniButtonOp opacity noCurs">1</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp opacity noCurs">2</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp opacity noCurs">3</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp opacity noCurs">4</button>
        </div>
        <div class="col-xs-2">
            <button class="miniButtonOp opacity noCurs">5</button>
        </div>
    </div>
    @*Progress Bar Ende*@
    <div class="hidden-xs jumbotron text-center" style="margin-top:10%; border:solid 3px; border-color:#f99b1c; background-color:white">
        <h1>Vielen Dank für Ihre Buchung!</h1>
        <p><h4>Sie erhalten in Kürze eine Buchungsbestätigung per Email</h4></p>
        <p><h4><a href="@Url.Action("Print", "Home",Model)" style="color:#f99b1c"><span class="glyphicon glyphicon-save-file" style="font-size:large"></span> Buchungsdetails als PDF herunterladen</a></h4></p>
    </div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg jumbotron text-center" style="background-color:white">
        <h1>Vielen Dank für Ihre Buchung!</h1>
        <p><h4>Sie erhalten in Kürze eine Buchungsbestätigung per Email</h4></p>
        <p><h4><a href="@Url.Action("Print", "Home",Model)" style="color:#f99b1c"><span class="glyphicon glyphicon-save-file" style="font-size:large"></span> Buchungsdetails als PDF herunterladen</a></h4></p>
    </div>
    <div class="col-xs-12 text-center">
        <p style="font-size:small"><a href="@Url.Action("SendMail_Again","Home",Model)">Email-Bestätigung erneut senden</a></p>
    </div>
    @if (TempData["send"] == null)
    {

    }
    else if ((bool)TempData["send"] == true)
    {
        <div id="dialog-message" title="E-Mail Bestätigung">
            <p>
                <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                Ihre Bestätigungs-Mail wurde erneut verschickt!
            </p>
        </div>
    }
    <div class="hidden-xs hidden-sm abschlussGebucht glyphicon glyphicon-ok-circle"></div>
</div>



