
@{
    ViewBag.Title = "Step4";
}
<style>
    .collapseForm {
        margin-bottom: 15px;
    }
    .noLiMarker
    {
         list-style-type: none;
    }
    .iconDoors{
                list-style-image: url(../../Content/icons/doors.png);   

                
    }
    
</style>

<div class="container" style="margin-top: 20px;">

    <div class="row">
        @*Erste Box für Login Anfang*@
        <div class="col-xs-12 col-md-8 formFeldLinks" style="border: 1px solid black">
            <form class="form-horizontal" style="padding: 20px;">
                <div class="form-group">
                    @*E-Mail1*@
                    <label for="inputMail" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input type="email" class="form-control" id="mailLogin" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    @*Passwort1*@
                    <label for="inputPasswort" class="col-md-2 control-label">Passwort</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" id="inputPasswort" placeholder="Passwort">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-md-10">
                        <div class="checkbox" style="margin-top: -10px;">
                            <label>
                                <input type="checkbox"> Angemeldet bleiben
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @*Buttons Zurück, Registieren, Login*@
                        <button type="submit" class="btn btn-default">Zurück</button>
                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#registrieren" style="position: relative; right: -20px;">Registrieren</button>
                        <button type="submit" class="btn btn-default" style="position: relative; right: -40px;">Login</button>
                    </div>
                </div>
                @*Erste Box für Login Ende*@
            </form>

            @*Zweite Box für Regestrieren Anfang*@
            <form class="form-horizontal" style="margin-left: 15px;">
                <div id="registrieren" class="collapse" style="border-top: 1px solid black;">


                    <div class="form-group" style="margin-top: 35px;">
                        <label for="prename" class="col-md-2 control-label collapseForm">Vorname</label>
                        <div class="col-md-10">
                            @*Box Vorname*@
                            <input type="text" class="form-control collapseForm" id="prename" placeholder="Vorname">
                        </div>
                        <label for="sirname" class="col-md-2 control-label collapseForm">Nachname</label>
                        <div class="col-md-10">
                            @*Box Nachname*@
                            <input type="text" class="form-control collapseForm" id="sirname" placeholder="Nachname">
                        </div>
                        <label for="mailRegister" class="col-md-2 control-label collapseForm">Email</label>
                        <div class="col-md-10">
                            @*Box Email2*@
                            <input type="email" class="form-control collapseForm" id="mailRegister" placeholder="Email">
                        </div>
                        <label for="adress" class="col-md-2 control-label collapseForm">Adresse</label>
                        <div class="col-md-10">
                            @*Box Adresse*@
                            <input type="text" class="form-control collapseForm" id="adress" placeholder="Adresse">
                        </div>
                        <label for="city" class="col-md-2 control-label collapseForm">Ort</label>
                        <div class="col-md-10">
                            @*Box Ort*@
                            <input type="text" class="form-control collapseForm" id="city" placeholder="Ort">
                        </div>
                        <label for="postcode" class="col-md-2 control-label collapseForm">PLZ</label>
                        <div class="col-md-10">
                            @*Box PLZ*@
                            <input type="text" class="form-control collapseForm" id="postcode" placeholder="PLZ">
                        </div>
                        @*Button Regestieren2*@
                        <div class="col-md-offset-2" style="position: relative; left: 194px;">
                            <button type="submit" class="btn btn-default">Registrieren</button>

                        </div>


                    </div>


                </div>
            </form>
            @*Zweite Box für Regestrieren Ende*@
        </div>


        <div class="col-xs-12 col-md-4 autoAnsichtRechts" style="border: 1px solid black">

            <div class="row">
                <div class="col-md-12">
                    <ul>
                        @*Autobild hier*@
                        <li class="noLiMarker">
                            <img src="~/Content/img/opel-astra-5d-rot-2016.png" class="img-responsive" />
                        </li>
                        @*Autoname hier*@
                        <li class="noLiMarker">
                            <h3>BMW X1</h3>
                            <p>
                                oder Opel Insignia, Mercedes-Benz GLA-Klasse oder ähnliche
                                Premium-Limousine | SDMR
                            </p>
                        </li>
                        @*Abholung hier*@
                        <li class="noLiMarker">
                            <h4>Abholung</h4>
                            <p>
                                Wien-Schwechat Flughafen
                                08.02.2017 um 12:00 Uhr 
                            </p>
                        </li>
                        @*Rückgabe hier*@
                        <li class="noLiMarker">
                            <h4>Rückgabe</h4>
                            <p>
                                Wien-Schwechat Flughafen
                                09.02.2017 um 09:00 Uhr 
                            </p>
                        </li>
                        @*Mietdauer hier*@
                        <li class="noLiMarker">
                            <h4>Mietdauer</h4>
                            <p>
                                1 Tag
                            </p>
                        </li>
                        
                        @*Preis hier*@
                        <li class="noLiMarker">
                            <p>
                                € 185,67
                            </p>
                        </li>
                        @*Fahrzeugausstattung hier*@                @*icons unklar:*@
                        <li class="noLiMarker">
                            <ul>
                                <li class="fa fa-snowflake-o">
                                    Klimaanlage
                                </li>
                                <li class="fa fa-cogs">
                                    Manuelle Schaltung
                                </li>
                                <li class="fa fa-cogs">
                                    Manuelle Schaltung
                                </li>
                                
                                <li>
                                    <i style="width: 20px;" class="iconDoors">4 Türen</i>
                                    
                                </li>
                            </ul>
                            @*<h4>Fahrzeugausstattung</h4>
                            <p>
                                Wien-Schwechat Flughafen
                                08.02.2017 um 12:00 Uhr
                            </p>*@
                        </li>
                        @*Platzangebot hier*@
                        <li class="noLiMarker">
                            <h4>Abholung</h4>
                            <p>
                                Wien-Schwechat Flughafen
                                08.02.2017 um 12:00 Uhr
                            </p>
                        </li>
                        @*Mindestalter fahrer hier*@
                        <li class="noLiMarker">
                            <h4>Abholung</h4>
                            <p>
                                Wien-Schwechat Flughafen
                                08.02.2017 um 12:00 Uhr
                            </p>
                        </li>
                        @*Inklusivleistungen und Exteras*@
                        <li class="noLiMarker">
                            <h4>Abholung</h4>
                            <p>
                                Wien-Schwechat Flughafen
                                08.02.2017 um 12:00 Uhr
                            </p>
                        </li>
                        @*Rechte/Pflichten (AGB)*@
                        <li class="noLiMarker">
                            <h4>Abholung</h4>
                            <p>
                                Wien-Schwechat Flughafen
                                08.02.2017 um 12:00 Uhr
                            </p>
                        </li>


                    </ul>
                </div>




                @*<div class="row">
                        <div class="paddingtop">
                            <ul>
                                <li>
                                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centered">
                                        <h3 class="h3step2">Opel Astra</h3>
                                        <h5 class="h5Step2">Limousine</h5>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                        <img src="~/Content/img/opel-astra-5d-rot-2016.png" class="img-responsive" />
                                    </div>
                                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                                        <h3 class="h3step2">Opel Astra</h3>
                                        <h5 class="h5Step2">Limousine</h5>
                                        <div>Dieses Angebot enthält:</div>
                                        <ul>
                                            <li class="okZeichen">Alle Kilometer inkl.</li>
                                            <li class="okZeichen">Testtext</li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centered">
                                        <ul class="ulcenter paddingSmall">
                                            <li class="okZeichen">Alle Kilometer inkl.</li>
                                            <li class="okZeichen">Testtext</li>
                                        </ul>
                                        <div class="fontsizeStep2 paddingSmall">76,31 € pro Tag</div>
                                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                                        <div class="paddingSmall"><button class="buttonOrange">Fahrzeug wählen</button></div>
                                    </div>
                                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                                        <div class="fontsizeStep2 paddingtop">76,31 € pro Tag</div>
                                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                                        <div class="paddingtop"><button class="buttonOrange">Fahrzeug wählen</button></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>*@
                @*<div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>*@
                @*<div class="col-md-12">
                        <img src="\Content\img\Bild2.jpg" alt="Auto" width="200" />
                        <p>

                        </p>
                    </div>*@
            </div>




        </div>


    </div>
</div>





