
@{
    ViewBag.Title = "Step2";
}

<style>
    .buttonOrangeStep2 {
        background-color: #f99b1c;
        border: none;
        color: #ffffff;
        font-size: 15px;
        height: 50px;
        width: 200px;
        font-weight: 700;
        letter-spacing: .6px;
        text-align: center;
        text-transform: uppercase;
    }

        .buttonOrangeStep2:hover {
            background-color: #f99b1c;
            border: none;
            color: #ffffff;
            font-size: 15px;
            height: 50px;
            width: 200px;
            font-weight: 700;
            letter-spacing: .6px;
            text-align: center;
            text-transform: uppercase;
            opacity: 0.8;
        }

    .centeredStep2 {
        text-align: center;
        display: block;
    }

    .h2step2 {
        color: #002f41;
    }

    .paddingSmallStep2 {
        padding-top: 20px;
    }

    .h3step2 {
        font-size: 32px;
        font-weight: 400;
        color: #002f41;
        display: block;
    }

    .h5Step2 {
        font-size: 18px;
    }

    .fontsizeStep2 {
        font-size: 18px;
        font-weight: 600;
        color: #002f41;
    }

    .imgStep2 {
        margin: auto;
    }

    /*Bis zum nächsten Kommentar, die nächsten Zeilen bitte hier im Style-Tag lassen*/
    li {
        list-style-image: url(../../Content/img/ok-sign.png);
    }

    #content > div > div > div > ul > li {
        list-style: none;
    }
    /*Ende*/
    .ulStep2 {
        margin: auto;
        -webkit-padding-start: 0px;
    }

    .ulcenterStep2 {
        text-align: left;
        margin: auto;
        display: table;
    }

    .paddingtopStep2 {
        padding-top: 40px;
    }
</style>
<div class="container">
    <h2 class="h2step2">Wir haben folgende Angebote für Sie gefunden!</h2>

    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Opel Astra</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/opel-astra-5d-rot-2016.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Opel Astra</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Jaguar XE</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/jaguar-xe-4d-rot-2015.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Jaguar XE</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">BMW 5er GT</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/bmw-5er-gt-5d-schwarz-2013.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">BMW 5er GT</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">BMW 3er</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/bmw-3er-4d-blau-2015.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">BMW 3er</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Alfa Romeo</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/alfa-romeo-giulia-silber-2016.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Alfa Romeo</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Mercedes-Benz E-Klasse</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/mb-e-klasse-4d-schwarz-2016.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Mercedes-Benz E-Klasse</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">BMW 7er</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/bmw-7er-4d-grau-2015.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">BMW 7er</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Mazda 6</h3>
                        <h5 class="h5Step2">Kombi</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/mazda-6-kombi-blau-2013.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Mazda 6</h3>
                        <h5 class="h5Step2">Kombi</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">BMW X1</h3>
                        <h5 class="h5Step2">SUV</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/bmw-x1-5d-weiss-2015.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">BMW X1</h3>
                        <h5 class="h5Step2">SUV</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">VW Polp</h3>
                        <h5 class="h5Step2">Kombi</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/vw-polo-5d-schwarz-2016.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">VW Polo</h3>
                        <h5 class="h5Step2">Kombi</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Mini Cooper</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/mini-cooper-3d-schwarz-2014.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Mini Cooper</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Audi A6</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/audi-a6-4d-schwarz-2015.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Audi A6</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">BMW 2er</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/bmw-2er-2d-weiss-2014.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">BMW 2er</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">VW Golf 7</h3>
                        <h5 class="h5Step2">Limousine</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/vw-golf-7-5d-silber-2012.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">VW Golf 7</h3>
                        <h5 class="h5Step2">Limousine</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div style="border-bottom:1px solid #CCC;padding-bottom:40px;"></div>
    <div class="row">
        <div class="paddingtopStep2">
            <ul class="ulStep2">
                <li>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <h3 class="h3step2">Ford Focus</h3>
                        <h5 class="h5Step2">Kombi</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <img src="~/Content/img/ford-focus-kombi-blau-2015.png" class="img-responsive imgStep2" />
                    </div>
                    <div class="col-xs-12 col-lg-5 visible-lg hidden-xs hidden-sm hidden-md">
                        <h3 class="h3step2">Ford Focus</h3>
                        <h5 class="h5Step2">Kombi</h5>
                        <div>Dieses Angebot enthält:</div>
                        <ul>
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 hidden-lg visible-xs visible-md visible-sm centeredStep2">
                        <ul class="ulcenterStep2 paddingSmallStep2">
                            <li>Alle Kilometer inkl.</li>
                            <li>Testtext</li>
                        </ul>
                        <div class="fontsizeStep2 paddingSmallStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingSmallStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
                        <div class="fontsizeStep2 paddingtopStep2">76,31 € pro Tag</div>
                        <div class="fontsizeStep2">456,23 € Gesamt</div>
                        <div class="paddingtopStep2"><button class="buttonOrangeStep2">Fahrzeug wählen</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>